---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lemigo Hotel Menus" background-color="#232323">
	<section class="logo-container top-0 left-0 m-4 pt-2 bg-232323">
		<div class="bg-232323">
			<img src="/lemigo-hotel.png" alt="logo" height="130" width="130"/>
			<div class="flex justify-center items-center h-24">
				<h1 class="text-4xl font-bold text-E95201 font-Cinzel">LEMIGO HOTEL MENU</h1>
			</div>
		</div>
	</section>
	<main class="flex flex-col items-center justify-center bg-232323">
		<section class="flex items-center justify-center flex-col gap-12 md:grid md:grid-cols-2 lg:grid-cols-3">
			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FVIP%20Drink%20Menu.pdf?alt=media&token=d9a8aa8b-ebea-4ccf-a269-7d4f4d2a61d0" class="block" target="_blank">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100">
				
					<img src="/drink.jpg" alt="regular drinks" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438 font-Raleway">DRINKS MENU</p>
				</div>
			</a>

			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FVIP%20Drink%20Menu.pdf?alt=media&token=d9a8aa8b-ebea-4ccf-a269-7d4f4d2a61d0" class="block" target="_blank">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100">
				
					<img src="/drinksvip.jpg" alt="vip drinks menu" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438 font-Raleway">VIP DRINKS MENU</p>
				</div>
			</a>
			
			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FChinese%20Menu.pdf?alt=media&token=63233e34-5aa6-45d0-baf1-aefaded8a4a2" class="block" target="_blank">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100">
				
					<img src="/chinese.jpg" alt="Chinese food" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438 font-Raleway">CHINESE FOOD MENU</p>
				</div>
			</a>
			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FIndian%20Menu.pdf?alt=media&token=6bc7e2b8-1ad7-41f8-87dd-120690c1a082" class="block" target="_blank">
				<div  class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100 mb-8">
					<img src="/indian.jpg" alt="Indian food" class="h-[200px] w-[300px] object-cover rounded-t-md "/>
					<p class="text-center font-medium py-3 text-9a8438 font-Raleway">INDIAN FOOD MENU</p>
				</div>
			</a>

			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FOriental%20Menu.pdf?alt=media&token=c1e4d3db-e2d3-4f1f-8d9d-fb0ccc00ab69" class="block" target="_blank">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100 mb-8">
				
					<img src="/variety_small.jpg" alt="oriental food" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438 font-Raleway">ORIENTAL MENU</p>
				</div>
			</a>

			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FRoom%20Service.pdf?alt=media&token=a5e15b45-ba5d-4a17-8eac-a11d2badc4ce" class="block" target="_blank">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100 mb-8">
				
					<img src="/roomservice.png" alt="room serivce" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438 font-Raleway">ROOM SERVICE MENU</p>
				</div>
			</a>
		</section>
	</main>
</Layout>
