---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<section class="logo-container top-0 left-0 m-8 pt-2 bg-eeeee">
		<div>
			<img src="/public/lemigo-hotel.png" alt="logo" height="120" width="120"/>
			<div class="flex justify-center items-center h-24">
				<h1 class="text-4xl font-bold text-fefefe">Lemigo Hotel Menu</h1>
			</div>
		</div>
	</section>
	<main class="flex flex-col items-center justify-center">
		<section class="flex items-center justify-center flex-col gap-12 md:grid md:grid-cols-2 lg:grid-cols-3">
			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FChinese%20Menu.pdf?alt=media&token=63233e34-5aa6-45d0-baf1-aefaded8a4a2" class="block">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100">
				
					<img src="/public/chinese.jpg" alt="Chinese food" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438">Chinese food menu</p>
				</div>
			</a>
			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FIndian%20Menu.pdf?alt=media&token=6bc7e2b8-1ad7-41f8-87dd-120690c1a082" class="block">
				<div  class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100">
					<img src="/public/Indian.jpg" alt="Indian food" class="h-[200px] w-[300px] object-cover rounded-t-md "/>
					<p class="text-center font-medium py-3 text-9a8438">Indian food menu</p>
				</div>
			</a>

			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FRoom%20service%20Menu%20new..pdf?alt=media&token=07e0cb57-1400-49e1-b010-6d87866ac5ce" class="block">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100">
				
					<img src="/public/roomservice.png" alt="room serivce" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438">Room service menu</p>
				</div>
			</a>

			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FDrink%20Menu.pdf?alt=media&token=038845af-7341-4951-a0fd-37ac60beda25" class="block">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100 mb-8">
				
					<img src="/public/drink.jpg" alt="regular drinks" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438">Drinks menu</p>
				</div>
			</a>

			<a href="https://firebasestorage.googleapis.com/v0/b/pdf-uploader-efebf.appspot.com/o/files%2FhvMuKpJlkTMLzaH0WDCLfps3RbL2%2FDrink%20Menu_2022%20VIP%20NEW.pdf?alt=media&token=21a3adcf-8ead-4cba-b29e-d5bf6bfa5d31" class="block">
				<div class="bg-slate-200 shadow-md rounded-md hover:scale-110 duration-300 transition ease-in-out delay-100 mb-8">
				
					<img src="/public/drinksvip.jpg" alt="vip drinks menu" 
					class="h-[200px] w-[300px] object-cover rounded-t-md  "
					/>
					<p class="text-center font-medium py-3 text-9a8438">VIP drinks menu</p>
				</div>
			</a>
		</section>
	</main>
</Layout>