---
import { slugify } from "../../js/utils";
export async function getStaticPaths(){
    return [
        {
            params: { category: slugify("Test 1")},
        },
        {
            params: { category: slugify("Test 2")},
        },
        {
            params: { category: slugify("Test 3")},
        },
    ];
}

const {category} = Astro.params;
---
<h1>{category}</h1>